<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sonidos APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
	<ion-refresher (ionRefresh)="recargar_animales($event)">
	    <ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-list #mylist >
			<ion-reorder-group disable="false">
				<ion-item-sliding *ngFor="let animal of animals; let i=index" >
					<ion-item (click)="reproduce(animal)">
						<ion-avatar slot="start">
						  <img [src]="animal.imagen" alt="">
						</ion-avatar>
				    	<h2> {{animal.nombre}}</h2>

				    	<ion-icon *ngIf="!animal.reproduciendo" name="play" slot="end"></ion-icon>
				    	<ion-icon *ngIf="animal.reproduciendo" name="pause" slot="end"></ion-icon>
				  	</ion-item>
				  	<ion-item-options side="end">
				  		<ion-item-option color="danger" (click)="borrar_animal(i)"> <ion-icon name="trash"></ion-icon>Borrar</ion-item-option>
				  	</ion-item-options>
				</ion-item-sliding>
			</ion-reorder-group>
	</ion-list>
</ion-content>
